
@{
    Layout = null;
}

<html>
<head>
    <title>YuraPresents</title>
    <link href="~/Content/style(1).css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font(1).css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" media="screen" href="~/Content/media-query(2).css" />
    <link rel="stylesheet" href="~/Content/slider.css" type="text/css" />
    <link href="~/Content/hhh.css"rel="stylesheet" />



</head>
<body id="body">

    <div class="header" id="header">
        <div class="sky">

            <div class="top">
                <div class="logo">
                    <img src="~/images/logo1.png" class="vlogo" />
                </div>
                <div class="nad">
                    <div class="topnad" onclick="window.location.replace('http://huggle.com.ua/')" id="topnad">Главная</div>
                    <div onclick="scrollView66()" class="topnad">Продукт</div>
                    <div onclick="scrollView2()" class="topnad">Услуги</div>
                    <div onclick="scrollView3()" class="topnad">Доставка</div>
                </div>
            </div>

        </div>
        <div class="podtop">
            <div class="nada">
                <div class="big">
                    <label>УЮТНЫЙ И ТЕПЛЫЙ</label>
                    <label>ПЛЕД  ДЛЯ ТЕБЯ</label>
                </div>
                <div class="small">
                    <label>БЫСТРАЯ ДОСТАВКА ПО УКРАИНЕ, ШИРОКИЙ АССОРТИМЕНТ</label>
                    <label>ВЫБЕРИТЕ ИДЕАЛЬНЫЙ ПОДАРОК ЗА 2 МИНУТЫ</label>
                </div>
                <div class="ok">
                    <button onclick="scrollView1()" class="one">Посмотреть каталог</button>
                </div>
                <div onclick="scrollView4()" id="verny">
                    <label>Купить сейчас</label>
                </div>
            </div>
        </div>

        <ul class="slides">
            <li></li>
            <li></li>
            <li></li>
        </ul>

    </div>

    <section class="sec1"></section>
    <div class="chto">
        <label class="f">Что такое плед с рукавами?</label>
        <div class="fn">
            <label class="b">
                Плед-толстовка с капюшоном Huggle Hoodie - это самый уютный и комфортный плед с капюшоном, сочетающий в себе большую толстовку и теплое одеяло. Плед-толстовка сшит из ультра мягкого флиса, имеет один большой размер, чтобы максимально укрыть с головы до ног. В Huggle Hoodie есть один вместительный карман, чтобы держать под рукой все необходимое.
                Один размер подойдёт как взрослым, так и детям, ведь размер именно этого пледа-толстовки не особо важен, главное те ощущения, которые он подарит от ношения!
            </label>
        </div>

        <div class="potomu">
            <div style="display:none;" class="dva">
                <div class="per">
                    <img class="m" src="~/images/huggle_hoodie_blauw_1000x1000_-_1__1.jpg" />
                </div>
                <div class="opis1">
                    <label>Это оверсайз худи размером 80х100                   </label>
                </div>
            </div>
            <div style="display:none;" class="dva">
                <div class="per">
                    <img class="m" src="~/images/UK-Oversized-Blanket-Sweatshirt-Huggle-Hoodie-Ultra-Lazy.jpg" />
                </div>
                <div class="opis1">
                    <label>Манжеты на рукавах и капюшон сохраняют тепло</label>
                </div>
            </div>
            <div style="display:none;" class="dva">
                <div class="per">
                    <img class="m" src="~/images/Сни2мок.png" />
                </div>
                <div class="opis1">
                    <label>Вместительный  карман для рук и вещей</label>
                </div>
            </div>
        </div>
    </div>
    <section class="sec1"></section>
    <div class="tkan">
        <label style="color:aliceblue;margin-top: 2%;" class="f">Мы используем особенную ткань для наших пледов. Вот почему:</label>
        <hr class="line2" size="6" color="#42ce10" style="width: 8%;border-top-color:#42ce10;margin-top: 1.5%;color:#42ce10">
        <div class="all">
            <div class="pun">
                <div style="display:none;" class="pun1">
                    <div class="left">
                        <img class="nom" src="~/images/1green.png" />
                        <img class="lin" src="~/images/line.png" />
                    </div>
                    <div class="right">
                        <label>Очень теплая</label>
                        <label>Наши пледы изготовлены из ткани микрофибры, которая согревает даже в самые холодные зимние вечера</label>
                    </div>
                </div>
                <div style="display:none;" class="pun1">
                    <div class="left">
                        <img class="nom" src="~/images/222222.png" />
                        <img class="lin" src="~/images/line.png" />
                    </div>
                    <div class="right">
                        <label>Прочная</label>
                        <label>За счет плотной структуры волокон, материал микрофибра отлично защищает от сильного холода. Она сохраняет тепло гораздо лучше, чем любая другая ткань</label>
                    </div>
                </div>
                <div style="display:none;" class="pun1">
                    <div class="left">
                        <img class="nom" src="~/images/333333333.png" />
                        <img class="lin" src="~/images/line.png" />
                    </div>
                    <div class="right">
                        <label>Приятная на ощуп</label>
                        <label>Наша ткань еще и невероятно мягкая и приятная на ощупь. Она хорошо подходит для нежной кожи детей и взрослым тоже очень тепло и уютно в ней</label>
                    </div>
                </div>
                <div style="display:none;" class="pun1">
                    <div class="left">
                        <img class="nom" src="~/images/4444444444444444.png" />
                        <img class="lin" src="~/images/line.png" />
                    </div>
                    <div class="right">
                        <label>Гиппоаллергенная</label>
                        <label>В волокнах не заводятся микроскопические паразиты, и не скапливается пыль, поэтому ткань абсолютно безопасна для здоровья</label>
                    </div>
                </div>
                <div class="pun1"></div>
            </div>

        </div>
    </div>
    <section class="sec1"></section>
    <div class="catalog">
        <label class="f">Каталог</label>
        <div class="container" style="margin-top: 5%;">

            <div class="slider">
                <div class="slider__wrapper">
                    <div class="slider__item">
                        <div class="slider__content">
                            <div class="slider__content_header">
                                <img class="slider__content_img" src="/images/81S6vvfPiyL._SL1500_.jpg" alt="">
                                <span class="slider__content_section">Худи - плед</span>
                            </div>

                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider__content">
                            <div class="slider__content_header">
                                <img class="slider__content_img" src="/images/71Hz0foCMYL._SL1500_.jpg" alt="">
                                <span class="slider__content_section">Худи - плед</span>
                            </div>

                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider__content">
                            <div class="slider__content_header">
                                <img class="slider__content_img" src="/images/81f4D8Ei2hL._SL1500_.jpg" alt="">
                                <span class="slider__content_section">Худи - плед</span>
                            </div>

                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider__content">
                            <div class="slider__content_header">
                                <img class="slider__content_img" src="/images/81SuLkgO0AL._SL1500_.jpg" alt="">
                                <span class="slider__content_section">Худи - плед</span>
                            </div>

                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider__content">
                            <div class="slider__content_header">
                                <img class="slider__content_img" src="/images/1111111.png" alt="">
                                <span class="slider__content_section">Худи - плед</span>
                            </div>

                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider__content">
                            <div class="slider__content_header">
                                <img class="slider__content_img" src="/images/814G1y7m0UL._SL1500_.jpg" alt="">
                                <span class="slider__content_section">Худи - плед</span>
                            </div>

                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider__content">
                            <div class="slider__content_header">
                                <img class="slider__content_img" src="/images/81zpwskeIdL._SL1500_.jpg" alt="">
                                <span class="slider__content_section">Худи - плед</span>
                            </div>

                        </div>
                    </div>
                </div>
                <a class="slider__control slider__control_left" href="#" role="button"></a>
                <a class="slider__control slider__control_right" href="#" role="button"></a>
            </div>

        </div>


        <div class="product-block">

            <div onclick="scrollView4()" id="basket" class="basket">Заказать</div>
        </div>

    </div>

    <section class="sec1"></section>
    <div class="Uslugi">
        <label style="color:black" class="f">Услуги</label>
        <div class="obsh">
            <div class="inf1">
                <div class="ima">
                    <img class="man" src="~/images/photo_2019-12-26_19-20-10.jpg" />
                </div>
                <div class="opisanie">
                    <label class="d">Доставка Новой почтой</label>
                    <label class="c">Доставка Новой почтой в течении 2-3 дней</label>
                </div>
            </div>
            <div class="inf1">
                <div class="ima">
                    <img class="man" src="~/images/photo_2019-12-26_19-20-13.jpg" />
                </div>
                <div class="opisanie">
                    <label class="d">Никаких предоплат</label>
                    <label class="c">Вы оплачиваете товар только по факту получения на руки</label>
                </div>
            </div>
            <div class="inf1">
                <div class="ima">
                    <img class="man" src="~/images/photo_2019-12-26_19-20-07.jpg" />
                </div>
                <div class="opisanie">
                    <label class="d">Гарантия качества</label>
                    <label class="c">Мы вернем Вам деньги, если товар Вам не подойдет по какаим-либо причинам в течении 14 дней с момента оплати</label>
                </div>
            </div>
        </div>

    </div>
    <section class="sec1"></section>
    <div class="Uslugi1">
        <label style="color:black" class="f">Доставка и оплата</label>
        <div class="obsh">
            <div class="inf1">
                <div >
                    <img class="man1" src="/images/oneee.png" />
                </div>
                <div class="opisanie">
                    <label class="d">Отправьте заявку</label>
                    <label class="c">Воспользуйтесь формой для заказа</label>
                </div>
            </div>
            <div class="inf1">
                <div >
                    <img class="man1"  src="~/images/two.png" />
                </div>
                <div class="opisanie">
                    <label class="d">Подтвердите заказ</label>
                    <label class="c">Наш менеджер свяжется с вами и уточнит всю информацию</label>
                </div>
            </div>
            <div class="inf1">
                <div >
                    <img class="man1" src="~/images/three.png" />
                </div>
                <div class="opisanie">
                    <label class="d">Получите свой товар</label>
                    <label class="c">Заберите посылку и оплатите заказ при получении</label>
                </div>
            </div>
        </div>

    </div>
    <section class="sec1"></section>

    <div class="cont">
        <label style="-webkit-text-stroke:1px black;" class="f">Оформление заказа</label>

        <div class="ot">
            <div class="text">
                <div class="order">
                    <label style="margin-left: 4%;" class="bol">Цвет:</label>
                    <select required name="select" id="form_pol2" class="input3">
                        <option disabled selected="selected">Выберите цвет, который вам по душе</option>
                        <option>красный</option>
                        <option>синий</option>
                    </select>
                </div>
                <div class="order">
                    <label style="margin-left: 4%;" class="bol">Количество:</label>
                    <input type="number" min="1" value="1" id="form_pol1" class="input3" onchange="defPodc()">
                </div>
                <div class="order1">
                    <label style="margin-left: 4%;" class="bol">Способ доставки:</label>
                    <select id="select_item1" onchange="ListOfWarehouse()"></select>


                    <select id="select_item" ></select>

                </div>
                <div class="order2">
                    <label style="margin-left: 4%;" class="bol">Данные о получателе</label>


                    <form action="" method="post" class="fio">
                        <input type="text" placeholder="Фамилия" name="form_name" id="form_name" class="input3">
                        <input type="text" placeholder="Имя" name="form_sname" id="form_sname" class="input3">
                        <input type="text" placeholder="Отчество" name="form_sname" id="form_father" class="input3">
                        <input type="tel" placeholder="Номер телефона" name="form_tel" id="form_tel" class="input3">
                        <input type="text" placeholder="Instagram(не обязательно)" name="form_sname" id="form_instagram" class="input3">
                    </form>

                </div>
                <div class="order1">
                    <label style="margin-left: 4%;" class="bol">Коментарий:</label>
                    <textarea id="vo" class="input6"  placeholder="Ваш вопрос"></textarea>
                </div>
                <hr class="line4" size="4" color="#0000" align="center">
                <div class="name">
                    <label style="color:lime;" class="bol">Економия:</label>
                    <label class="mal" id="el_description">600 грн</label>
                </div>
                <div class="itog">
                    <label class="bol">Итог:</label>
                    <label class="mal" style="color:#000" id="el_price">599 грн</label>
                </div>
                <div class="ooo">
                    <input type="button" value="Подтвердить" class="input3" style="background:#9855c8" sign_in" onclick="send()" />
                </div>
            </div>
            <div class="prod">
                <div class="product-image" id="product-image">
                    <img class="kartinka" src="~/images/212121.png" />
                </div>
                <div class="opiss">
                    <img class="kartinka1" src="~/images/Frame1.png" />
                </div>
            </div>
        </div>
    </div>




    <div class="footer">
        <div class="sloy1">
            <div class="logo1">
                <img src="~/images/logo1.png" class="vlogo" />
            </div>

        </div>
        <div class="sloy2">
            <div class="i3i">
                <label>Мы = ваш уют)</label>
            </div>
        </div>
        <div class="sloy3">
            <hr class="line3" size="1" color="#0000">
            <div class="iz">
                <a href="https://instagram.com/hugglyhoodie?igshid=dxouqnvochm1"><img src=" ~/images/1492718764-instagram_83597.png" /></a>
                <a href="https://www.facebook.com/Huggly-Hoodie-103811671138350/?modal=admin_todo_tour"><img src=" ~/images/1492718745-facebook_83608.png" /></a>
                <a href="tel:+380668543320"><img src=" ~/images/1492718755-whatsapp_83610.png" /></a>
            </div>

            <hr class="line3" size="1" color="#0000">
        </div>

        <div class="konets"><a class="ogo" href="https://doit.ua/ref/?hash=d0b46641&redirectURL=https%3A%2F%2Fdoit.ua%2Fuser%2Fcoolstack2019%2F">@@coolstack2019@@</a></div>
        <div></div>
    </div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.waterwheelCarousel.js"></script>



<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var carousel = $("#carousel").waterwheelCarousel({
            flankingItems: 3,
            movingToCenter: function ($item) {
                $('#callback-output').prepend('movingToCenter: ' + $item.attr('id') + '<br/>');
            },
            movedToCenter: function ($item) {
                $('#callback-output').prepend('movedToCenter: ' + $item.attr('id') + '<br/>');
            },
            movingFromCenter: function ($item) {
                $('#callback-output').prepend('movingFromCenter: ' + $item.attr('id') + '<br/>');
            },
            movedFromCenter: function ($item) {
                $('#callback-output').prepend('movedFromCenter: ' + $item.attr('id') + '<br/>');
            },
            clickedCenter: function ($item) {
                $('#callback-output').prepend('clickedCenter: ' + $item.attr('id') + '<br/>');
            }
        });

        $('#prev').bind('click', function () {
            carousel.prev();
            return false
        });

        $('#next').bind('click', function () {
            carousel.next();
            return false;
        });

        $('#reload').bind('click', function () {
            newOptions = eval("(" + $('#newoptions').val() + ")");
            carousel.reload(newOptions);
            return false;
        });

    });
    $(window).scroll(function () {
        if ($(this).scrollTop() > 1) {
            $('.sky').addClass("sticky");
        }
        else {
            $('.sky').removeClass("sticky");
        }
    });


    function defPodc() {

        var i = (document.getElementById('form_pol1').value);

        //var t = parseInt(document.getElementById('el_price').innerHTML);
        //var t = (document.getElementById('el_price').innerHTML);
        //var arr = t.split(' ');
        document.getElementById('el_price').innerHTML = i * 599 + ' грн';


    }

    //function podc() {
    //    var i = (document.getElementById('kol').value) = bab();
    //    var t = parseInt(document.getElementById('el_price').innerHTML);
    //    var y = document.getElementById('itogg').innerHTML = i * t + ' грн';



    //    return y;

    //}

    //function podc1() {
    //    var van = document.getElementById('kol').value = bab1();
    //    var t = parseInt(document.getElementById('el_price').innerHTML);
    //    if (van > 1) {
    //        var y = document.getElementById('itogg').value = parseInt(document.getElementById('itogg').value) - t + 'грн'; /// van;
    //    }
    //    if (van == 1) {
    //        return (document.getElementById('itogg').value) = t + 'грн';//(document.getElementById('aaa').value);
    //    }
    //    return y;
    //}

    //function bab() {
    //    var vak = parseInt(document.getElementById('kol').value);
    //    if (vak >= 0) {
    //        vak++;//podc(vak.value);
    //    }
    //    if (vak < 0) {
    //        vak = 1;
    //    }
    //    return vak;
    //}
    //function bab1() {
    //    var vak = parseInt(document.getElementById('kol').value);
    //    if (vak >= 1) {
    //        vak--;//podc(vak.value);
    //    }
    //    if (vak < 1) {
    //        vak = 1;
    //    }
    //    return vak;//podc(vak.value);
    //}


    //$(window).on('load', function () {
    //    podc();
    //});
    //$(window).on('load', function () {
    //    podc1();
    //});

    function scrollView1() {

        $('html, body').animate({
            scrollTop: $('.catalog').offset().top - 100
        }, 1500);

    }

    function scrollView66() {

        $('html, body').animate({
            scrollTop: $('.chto').offset().top - 100
        }, 1500);

    }
    function scrollView2() {

        $('html, body').animate({
            scrollTop: $('.Uslugi').offset().top - 100
        }, 1500);

    }
    function scrollView3() {

        $('html, body').animate({
            scrollTop: $('.ot').offset().top - 100
        }, 1500);

        $('.ot').children('.text').addClass('light');
        setTimeout(() => { $('.ot').children('.text').removeClass('light'); }, 3000)
    }
    function scrollView4() {

        $('html, body').animate({
            scrollTop: $('.ot').offset().top - 100
        }, 1500);

        $('.ot').children('.forma').addClass('light');
        setTimeout(() => { $('.ot').children('.forma').removeClass('light'); }, 3000)
    }

    function ToForm(name, price, description) {
        $('#el_name').html(name);
        $('#el_price').html(price + 'грн');
        $('#el_description').html(description);
        $('#centr').show();
        defPodc();
    }

</script>
<script type="text/javascript">


    // $(window).on('beforeunload', function () {
    //$(window).scrollTop(0);



</script>
<script type="text/javascript">
    function send() {
        var Mail = {
            Name: $('#form_sname').val(),
            Surname: $('#form_name').val(),
            Patronymic: $('#form_father').val(),
            Email: $('#form_email').val(),
            Phone: $('#form_tel').val(),
            MailNumber: $("#select_item option:selected").text(),
            City: $("#select_item1 option:selected").text(),
            Instagram: $('#form_instagram').val(),
            Comment: $('#vo').val(),
            Count: $('#form_pol1').val()

        }
        var Product = {
            Name: $('#katalog_name').text(),
            Price: $('#el_price').text(),
            Color: $('#form_pol2').val(),



        }
        var params = JSON.stringify({ "order": Mail, "model": Product });

        //alert(JSON.stringify(Mail));
        $.ajax({
            url: '/Home/Send',// '/Product/OnPostCreate/',
            type: 'POST',

            dataType: 'JSON',
            data: params,
            contentType: "application/json; charset=utf-8",

            success: function (data) {
                alert("Спасибо за заказ!");
                //const cat = data.forEach(card => {
                //    let catalog = '';
                //    pereborC =
                //        catalog .= `<div class="card" id=""${card.id}>${card.name} ${card.price} </div>`;

                //    return calalog;
                //})

                //document.querySelector('#Catalog').appendChild(cat);
            },
            error: function (error) {
                alert("Спасибо за заказ!");
                // alert(error.responseText);
            }
        });
    }

    function AskQuestion() {
        var Mail = {
            Name: $('#n').val(),
            Message: $('#vo').val(),
            Phone: $('#no').val()

        }
        console.log(JSON.stringify(Mail));
        $.ajax({
            url: '/Home/AskQuestion',// '/Product/OnPostCreate/',
            type: 'POST',

            dataType: 'JSON',
            data: JSON.stringify(Mail),
            contentType: "application/json; charset=utf-8",

            success: function (data) {
                //const cat = data.forEach(card => {
                //    let catalog = '';
                //    pereborC =
                //        catalog .= `<div class="card" id=""${card.id}>${card.name} ${card.price} </div>`;

                //    return calalog;
                //})

                //document.querySelector('#Catalog').appendChild(cat);
            },
            error: function (error) {
                // alert(error.responseText);
            }
        });
    }
</script>

<script>
    var city = '';
    function ListOfWarehouse() {
        city = $("#select_item1 option:selected").text();

        $.ajax({
            url: 'https://api.novaposhta.ua/v2.0/json/AddressGeneral/getWarehouses',
            dataType: 'jsonp',//снимаем ограничения браузера при отправке ответов JSON из разных доменов с клиента
            type: 'POST',
            headers: {
                'Access-Control-Allow-Origin': '*'// разрешаем браузеру запрашивать код из любого источника
            },
            cors: true,
            secure: true,
            data: {
                "modelName": "AddressGeneral",
                "calledMethod": "getWarehouses",
                "methodProperties": {
                    "CityName": city,
                    "Language": "ru"
                },
                "apiKey": "8a3aa2920fec9edfadca522d38bc8f88"
            },
            contentType: "application/json; charset=utf-8",
            success: function (data) { //функция для вывода ответа запроса
                console.log(data);
                var response = '<option>' + "</option>";
                $.each(data.data, function (index, val) {

                    response += '<option>' + val.DescriptionRu + "</option>";

                });
                $('#select_item').html(response);
                // $('#select_item').html('<p><b>' + 'Not Found' + "</b></p>");

            },
            error: function () { //в случае ошибки запроса, выводим сообщение
                $('#ShowWeather').html('<p><b>' + 'Not Found' + "</b></p>");
            }

        })
    }
    function ListOfTown() {
        $.ajax({
            url: 'https://api.novaposhta.ua/v2.0/json/Address/getCities',
            dataType: 'jsonp',//снимаем ограничения браузера при отправке ответов JSON из разных доменов с клиента
            type: 'POST',
            headers: {
                'Access-Control-Allow-Origin': '*'// разрешаем браузеру запрашивать код из любого источника
            },
            cors: true,
            secure: true,
            data: {

                "modelName": "Address",
                "calledMethod": "getCities",
                "methodProperties": {

                },
                "apiKey": "8a3aa2920fec9edfadca522d38bc8f88"




            },
            contentType: "application/json; charset=utf-8",
            success: function (data) { //функция для вывода ответа запроса
                // console.log(data);
                var response = '<option>' + "</option>";
                var source = data.data[0].Addresses;

                $.each(data.data, function (index, val) {

                    response += '<option>' + val.DescriptionRu + "</option>";

                });
                $('#select_item1').html(response);


            },
            error: function () { //в случае ошибки запроса, выводим сообщение
                $('#ShowWeather').html('<p><b>' + 'Not Found' + "</b></p>");
            }

        })

    }
    jQuery(document).ready(function ($) {
        $("#select_item").select2({
            placeholder: "Виберите отделение",
            selectOnClose: true
            // allowClear: true
        });
        $("#select_item1").select2({
            placeholder: "Виберите город",
            selectOnClose: true,

            //allowClear: true
        });
        $("#select_item").empty();
        $("#select_item1").empty();

        ListOfTown();

    })

</script>
<script>
    'use strict';
    var multiItemSlider = (function () {

        function _isElementVisible(element) {
            var rect = element.getBoundingClientRect(),
                vWidth = window.innerWidth || doc.documentElement.clientWidth,
                vHeight = window.innerHeight || doc.documentElement.clientHeight,
                elemFromPoint = function (x, y) { return document.elementFromPoint(x, y) };
            if (rect.right < 0 || rect.bottom < 0
                || rect.left > vWidth || rect.top > vHeight)
                return false;
            return (
                element.contains(elemFromPoint(rect.left, rect.top))
                || element.contains(elemFromPoint(rect.right, rect.top))
                || element.contains(elemFromPoint(rect.right, rect.bottom))
                || element.contains(elemFromPoint(rect.left, rect.bottom))
            );
        }

        return function (selector, config) {
            var
                _mainElement = document.querySelector(selector),
                _sliderWrapper = _mainElement.querySelector('.slider__wrapper'),
                _sliderItems = _mainElement.querySelectorAll('.slider__item'),
                _sliderControls = _mainElement.querySelectorAll('.slider__control'),
                _sliderControlLeft = _mainElement.querySelector('.slider__control_left'),
                _sliderControlRight = _mainElement.querySelector('.slider__control_right'),
                _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width),
                _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width),
                _html = _mainElement.innerHTML,
                _indexIndicator = 0,
                _maxIndexIndicator = _sliderItems.length - 1,
                _indicatorItems,
                _positionLeftItem = 0,
                _transform = 0,
                _step = _itemWidth / _wrapperWidth * 100,
                _items = [],
                _interval = 0,
                _states = [
                    { active: false, minWidth: 0, count: 1 },
                    { active: false, minWidth: 576, count: 2 },
                    { active: false, minWidth: 992, count: 3 },
                    { active: false, minWidth: 1200, count: 4 },
                ],
                _config = {
                    isCycling: false,
                    direction: 'right',
                    interval: 5000,
                    pause: true
                };

            for (var key in config) {
                if (key in _config) {
                    _config[key] = config[key];
                }
            }

            _sliderItems.forEach(function (item, index) {
                _items.push({ item: item, position: index, transform: 0 });
            });

            var _setActive = function () {
                var _index = 0;
                var width = parseFloat(document.body.clientWidth);
                _states.forEach(function (item, index, arr) {
                    _states[index].active = false;
                    if (width >= _states[index].minWidth)
                        _index = index;
                });
                _states[_index].active = true;
            }

            var _getActive = function () {
                var _index;
                _states.forEach(function (item, index, arr) {
                    if (_states[index].active) {
                        _index = index;
                    }
                });
                return _index;
            }

            var position = {
                getItemMin: function () {
                    var indexItem = 0;
                    _items.forEach(function (item, index) {
                        if (item.position < _items[indexItem].position) {
                            indexItem = index;
                        }
                    });
                    return indexItem;
                },
                getItemMax: function () {
                    var indexItem = 0;
                    _items.forEach(function (item, index) {
                        if (item.position > _items[indexItem].position) {
                            indexItem = index;
                        }
                    });
                    return indexItem;
                },
                getMin: function () {
                    return _items[position.getItemMin()].position;
                },
                getMax: function () {
                    return _items[position.getItemMax()].position;
                }
            }

            var _transformItem = function (direction) {
                var nextItem, currentIndicator = _indexIndicator;
                if (!_isElementVisible(_mainElement)) {
                    return;
                }
                if (direction === 'right') {
                    _positionLeftItem++;
                    if ((_positionLeftItem + _wrapperWidth / _itemWidth - 1) > position.getMax()) {
                        nextItem = position.getItemMin();
                        _items[nextItem].position = position.getMax() + 1;
                        _items[nextItem].transform += _items.length * 100;
                        _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
                    }
                    _transform -= _step;
                    _indexIndicator = _indexIndicator + 1;
                    if (_indexIndicator > _maxIndexIndicator) {
                        _indexIndicator = 0;
                    }
                }
                if (direction === 'left') {
                    _positionLeftItem--;
                    if (_positionLeftItem < position.getMin()) {
                        nextItem = position.getItemMax();
                        _items[nextItem].position = position.getMin() - 1;
                        _items[nextItem].transform -= _items.length * 100;
                        _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
                    }
                    _transform += _step;
                    _indexIndicator = _indexIndicator - 1;
                    if (_indexIndicator < 0) {
                        _indexIndicator = _maxIndexIndicator;
                    }
                }
                _sliderWrapper.style.transform = 'translateX(' + _transform + '%)';
                _indicatorItems[currentIndicator].classList.remove('active');
                _indicatorItems[_indexIndicator].classList.add('active');
            }

            var _slideTo = function (to) {
                var i = 0, direction = (to > _indexIndicator) ? 'right' : 'left';
                while (to !== _indexIndicator && i <= _maxIndexIndicator) {
                    _transformItem(direction);
                    i++;
                }
            }

            var _cycle = function (direction) {
                if (!_config.isCycling) {
                    return;
                }
                _interval = setInterval(function () {
                    _transformItem(direction);
                }, _config.interval);
            }

            var _controlClick = function (e) {
                if (e.target.classList.contains('slider__control')) {
                    e.preventDefault();
                    var direction = e.target.classList.contains('slider__control_right') ? 'right' : 'left';
                    _transformItem(direction);
                    clearInterval(_interval);
                    _cycle(_config.direction);
                }
                if (e.target.getAttribute('data-slide-to')) {
                    e.preventDefault();
                    _slideTo(parseInt(e.target.getAttribute('data-slide-to')));
                    clearInterval(_interval);
                    _cycle(_config.direction);
                }
            };

            var _handleVisibilityChange = function () {
                if (document.visibilityState === "hidden") {
                    clearInterval(_interval);
                } else {
                    clearInterval(_interval);
                    _cycle(_config.direction);
                }
            }

            var _refresh = function () {
                clearInterval(_interval);
                _mainElement.innerHTML = _html;
                _sliderWrapper = _mainElement.querySelector('.slider__wrapper');
                _sliderItems = _mainElement.querySelectorAll('.slider__item');
                _sliderControls = _mainElement.querySelectorAll('.slider__control');
                _sliderControlLeft = _mainElement.querySelector('.slider__control_left');
                _sliderControlRight = _mainElement.querySelector('.slider__control_right');
                _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width);
                _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width);
                _positionLeftItem = 0;
                _transform = 0;
                _indexIndicator = 0;
                _maxIndexIndicator = _sliderItems.length - 1;
                _step = _itemWidth / _wrapperWidth * 100;
                _items = [];
                _sliderItems.forEach(function (item, index) {
                    _items.push({ item: item, position: index, transform: 0 });
                });
                _addIndicators();
            }

            var _setUpListeners = function () {
                _mainElement.addEventListener('click', _controlClick);
                if (_config.pause && _config.isCycling) {
                    _mainElement.addEventListener('mouseenter', function () {
                        clearInterval(_interval);
                    });
                    _mainElement.addEventListener('mouseleave', function () {
                        clearInterval(_interval);
                        _cycle(_config.direction);
                    });
                }

                document.addEventListener('visibilitychange', _handleVisibilityChange, false);
                window.addEventListener('resize', function () {
                    var
                        _index = 0,
                        width = parseFloat(document.body.clientWidth);
                    _states.forEach(function (item, index, arr) {
                        if (width >= _states[index].minWidth)
                            _index = index;
                    });
                    if (_index !== _getActive()) {
                        _setActive();
                        _refresh();
                    }
                });
            }

            var _addIndicators = function () {
                var sliderIndicators = document.createElement('ol');
                sliderIndicators.classList.add('slider__indicators');
                for (var i = 0; i < _sliderItems.length; i++) {
                    var sliderIndicatorsItem = document.createElement('li');
                    if (i === 0) {
                        sliderIndicatorsItem.classList.add('active');
                    }
                    sliderIndicatorsItem.setAttribute("data-slide-to", i);
                    sliderIndicators.appendChild(sliderIndicatorsItem);
                }
                _mainElement.appendChild(sliderIndicators);
                _indicatorItems = _mainElement.querySelectorAll('.slider__indicators > li')
            }

            // добавляем индикаторы
            _addIndicators();
            // инициализация
            _setUpListeners();

            if (document.visibilityState === "visible") {
                _cycle(_config.direction);
            }
            _setActive();

            return {
                right: function () {
                    _transformItem('right');
                },
                left: function () {
                    _transformItem('left');
                },
                stop: function () {
                    _config.isCycling = false;
                    clearInterval(_interval);
                },
                cycle: function () {
                    _config.isCycling = true;
                    clearInterval(_interval);
                    _cycle();
                }
            }

        }
    }());

    var slider = multiItemSlider('.slider', {
        isCycling: true
    });
</script>